@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using ProjectTemplate.Core.Entities;
@model User
<h2>Edit</h2>


<div class="panel panel-success">
    <div class="panel-heading">Kullanıcı Düzenle</div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>AD</th>
                    <th>SOYAD</th>
                    @*<th>ROL</th>*@
                    <th>MAİL</th>
                    <th>GÜNCELLE</th>
                </tr>
            </thead>
            <tr>
                @using (Html.BeginForm("Edit", "User", FormMethod.Post))
                {
                    <td>@Html.TextBoxFor(s => s.Name, new { @class = "form-control", @value = Model.Name, name = "name" })</td>
                    <td>@Html.TextBoxFor(s => s.Surname, new { @class = "form-control", @value = Model.Surname, name = "surname" })</td>
                    @*<td>@Html.DropDownListFor(s => s.Role, Enum.GetNames(typeof(ProjectTemplate.Core.Enums.Role)).Select(s => new SelectListItem { Text = s.ToString(), Value = s.ToString() })) </td>*@
                    <td>@Html.TextBoxFor(s => s.Email, new { @class = "form-control", type = "email", @value = Model.Email, name = "email" })</td>
                    <td><input type="submit" name="name" value="Güncelle" class="btn" /></td>
                }
            </tr>

        </table>
    </div>
</div>